.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    margin-top: 30px;
    width: 700px;
}
.foto{
    width: 50px;
}
.titulo{
    text-align: center;
}

input {
    margin-top: 10px;
}
.formulario{
    background-color: #282c34;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
}

